button {
  background-color: black;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;

  border: none;
  transition: all 0.3s ease;

  a {
    text-decoration: none;
    color: white;
  }
}

button:hover {
  background-color: red;
  padding: 1rem 3rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
