body {
  height: 100vh;
  margin: 0;
  padding: 0;

  background-color: rgba(231, 220, 210, 0.201);

  display: flex;
  flex-direction: column;
  justify-content: center;
}


.toggle {
  position: fixed;
  top: 1rem;
  left: 1rem;
  background: rgb(232, 66, 66);
  border-radius: 50%;
  padding: 1rem;
  z-index: 999;
}

nav {
  position: fixed;
  top: 0;
  left: -25%;
  width: 25%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.831);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 5rem 1rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  transition: left 0.3s ease-in-out;
  z-index: 999;
}

nav.open {
  left: 0;
}

nav a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 1rem;
  transform: translateX(-20px);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

nav.open a {
  transform: translateX(0);
}

nav a:nth-child(1) {
  transition-delay: 0.1s;
}

nav a:nth-child(2) {
  transition-delay: 0.2s;
}

nav a:nth-child(3) {
  transition-delay: 0.3s;
}

nav a:nth-child(4) {
  transition-delay: 0.4s;
}

nav aside {
  align-self: flex-start;
}

nav article {
  display: flex;
  flex-direction: column;
}

nav article h3 {
  margin: 0;
}


h1,
h3 {
  font-family: "Gill Sans MT Heavy", Calibri, sans-serif;
  font-weight: 900;
}

h2,
p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: small;
}
p {
  color: #787878;
}

h1,
h2 {
  margin: 0;
  text-align: center;
}
